{% extends '/include/layout.html' %}
{% block title %}Advisor{% endblock %}
{% block header %}<h2>Your Advisor</h2>{% endblock %}

{% block content %}

<h3>Advisor Information</h3>

{% if advisor %}
<table class="clean-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ advisor[0] }}</td>
            <td>{{ advisor[1] }}</td>
        </tr>
    </tbody>
</table>

{% else %}
<p>No advisor assigned.</p>
{% endif %}

{% endblock %}
