{% extends  '/include/layout.html' %}
{% block title %}Student Dashboard{% endblock %}
{% block header %}<h2>Welcome, {{name}}</h2>{% endblock %}
{% block content %}
	<!-- Features 1 -->
	<div class="wrapper">
		<div class="container">
			<div class="row">
                <section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Grades</h2>
					</header>
                    <p>View your grades</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Enrollment</h2>
					</header>
                    <p>Register for classes, drop classes, and check your enrollment based 
                        on the semester</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Schedule</h2>
					</header>
                    <p>View your personal schedule</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Advisor</h2>
					</header>
                    <p>View your advisor's information</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Profile</h2>
					</header>
                    <p>Modify your personal information</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}