{% extends  '/include/layout.html' %}
{% block title %}Instructor Dashboard{% endblock %}
{% block header %}<h2>Welcome, {{name}}</h2>{% endblock %}
{% block content %}
	<!-- Features 1 -->
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Grades</h2>
					</header>
                    <p>Submit and change grades</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_grades') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Advisor</h2>
					</header>
                    <p>Add and remove students</p>
					<ul class="actions">
                        <li><a href="{{ url_for('advisor') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Prerequisites</h2>
					</header>
                    <p>Modify course prerequisites</p>
					<ul class="actions">
                        <li><a href="{{ url_for('prereqs') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
                <section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Enrollments</h2>
					</header>
                    <p>Check section roster</p>
					<p>Remove students from section</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_enrollment') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Sections</h2>
					</header>
                    <p>Check sections teaching based on the semester</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_sections') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Profile</h2>
					</header>
                    <p>Modify your personal information</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_profile') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Average Grades</h2>
					</header>
                    <p>View the average grade of all students based on the department</p>
					<p>View the average grade of a class across a selected range of semesters</p>
					<ul class="actions">
                        <li><a href="{{ url_for('avg_grades') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Best and Worst Classes</h2>
					</header>
                    <p>View the best and worst performing classes (based on grades) for a selected semester</p>
					<ul class="actions">
                        <li><a href="{{ url_for('best_worst') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Total Students</h2>
					</header>
                    <p>View the total number of students (past and current) according to the department</p>
					<p>View the total number of students currently enrolled according to the department</p>
					<ul class="actions">
                        <li><a href="{{ url_for('student_stat') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}