{% extends  '/include/layout.html' %}
{% block title %}Instructor Dashboard{% endblock %}
{% block header %}<h2>Welcome, {{name}}</h2>{% endblock %}
{% block content %}
	<!-- Features 1 -->
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Grades</h2>
					</header>
                    <p>Submit and change grades</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_grades') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
                <section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Section Enrollment</h2>
					</header>
                    <p>Check section rosters and remove students from sections</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_enrollment') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Advisor Portal</h2>
					</header>
                    <p>Add and Remove advisees</p>
					<ul class="actions">
                        <li><a href="{{ url_for('advisor') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Prerequisites</h2>
					</header>
                    <p>Add and Remove course prerequisites</p>
					<ul class="actions">
                        <li><a href="{{ url_for('prereqs') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Sections</h2>
					</header>
                    <p>Check classes you're teaching based on the semester</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_sections') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Profile</h2>
					</header>
                    <p>Modify your personal information</p>
					<ul class="actions">
                        <li><a href="{{ url_for('instructor_profile') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Total Students</h2>
					</header>
                    <p>Total Number of current and past students</p>
					<ul class="actions">
                        <li><a href="{{ url_for('student_stat') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Best/Worst Classes</h2>
					</header>
                    <p>Best and Worst performing classes based on grades</p>
					<ul class="actions">
                        <li><a href="{{ url_for('best_worst') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Average Grades</h2>
					</header>
                    <p>Average grades of all students based on the department and for a class across a range of semesters</p>
					<ul class="actions">
                        <li><a href="{{ url_for('avg_grades') }}" class="button">Go &#8594</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}