{% extends '/include/layout.html' %}
{% block title %}Total Students{% endblock %}
{% block header %}<h2>Total Students</h2>{% endblock %}
{% block content %}

<table class="clean-table">
    <thead>
        <tr>
            <th>Department</th>
            <th>Total Students (past & current)</th>
            <th>Currently Enrolled Students</th>
        </tr>
    </thead>
    <tbody>
        {% for dept, total, current in data %}
        <tr>
            <td>{{ dept }}</td>
            <td>{{ total }}</td>
            <td>{{ current }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
