{% extends  '/include/layout.html' %}
{% block content %}
	<!-- Features 1 -->
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Grades</h2>
					</header>
                    <p>Submit and change grades</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
                <section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Section Enrollment</h2>
					</header>
                    <p>Check section rosters and remove students from sections</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Advisor Portal</h2>
					</header>
                    <p>Add and remove students</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Manage Prerequisites</h2>
					</header>
                    <p>Modify course prerequisites</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Your Sections</h2>
					</header>
                    <p>Check classes you're teaching based on the semester</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
				<section class="col-6 col-12-narrower feature">
					<div class="image-wrapper first">
						<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
					</div>
					<header>
                        <h2>Profile</h2>
					</header>
                    <p>Modify your personal information</p>
					<ul class="actions">
                        <li><a href="#" class="button">Go &#8594</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}